<p id="notice"><%= notice %></p>

<div class="datos">
<p>
  <strong>Valor:</strong>
  <%= @balance_criptomoneda.valor %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @balance_criptomoneda.usuario_id %>
</p>

<p>
  <strong>Criptomoneda:</strong>
  <%= @balance_criptomoneda.token_criptomoneda %>
</p>

<%= link_to 'Edit', edit_balance_criptomoneda_path(@balance_criptomoneda) %> |
<%= link_to 'Back', balance_criptomonedas_path %>
</div>
