<p id="notice"><%= notice %></p>

<p>
   <strong>Usuario:</strong>
  <%= @balance_divisa.usuario_id %>
   <strong>Divisa:</strong>
  <%= @balance_divisa.token_divisa %>
    <strong>Valor:</strong>
  <%= @balance_divisa.valor %>
</p>

<%= link_to 'Edit', edit_balance_divisa_path(@balance_divisa) %> |
<%= link_to 'Back', balance_divisas_path %>
