<%= form_with(model: divisa) do |form| %>
  <% if divisa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(divisa.errors.count, "error") %> prohibited this divisa from being saved:</h2>

      <ul>
        <% divisa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :token_divisa %>
    <%= form.text_field :token_divisa %>
  </div>

  <div class="field">
    <%= form.label :nombre_divisa %>
    <%= form.text_field :nombre_divisa %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="field">
    <%= form.label :simbolo %>
    <%= form.text_field :simbolo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
