<p id="notice"><%= notice %></p>

<div class="datos">
<p>
  <strong>Token divisa:</strong>
  <%= @divisa.token_divisa %>
</p>

<p>
  <strong>Nombre divisa:</strong>
  <%= @divisa.nombre_divisa %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @divisa.valor %>
</p>

<p>
  <strong>Simbolo:</strong>
  <%= @divisa.simbolo %>
</p>

<%= link_to 'Edit', edit_divisa_path(@divisa) %> |
<%= link_to 'Back', divisas_path %>
</div>
