<p id="notice"><%= notice %></p>
<div class="datos">
<p>
  <strong>Username:</strong>
  <%= @usuario.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @usuario.password %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
</div>
