<p id="notice"><%= notice %></p>

<h1>Criptomonedas</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
      <th>Nombre</th>
      <th>Valor actual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @criptomonedas.each do |criptomoneda| %>
      <tr>
        <td><%= criptomoneda.token %></td>
        <td><%= criptomoneda.nombre %></td>
        <td><%= criptomoneda.valor_actual %></td>
        <td><%= link_to 'Show', criptomoneda %></td>
        <td><%= link_to 'Edit', edit_criptomoneda_path(criptomoneda) %></td>
        <td><%= link_to 'Destroy', criptomoneda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Criptomoneda', new_criptomoneda_path %>
